.container
  .row
    - flash.each do |name, msg|
      .col-lg-6.col-lg-offset-3
        = content_tag :div, msg, :id => "flash_#{name},", :class => "alert alert-danger" 
  .row
  %div"You are in the land of user"
