@import "../common/lib/bootstrap/variables";
@import "../common/lib/bootstrap/mixins";
#my-carousel {
  font-style: italic;
  margin-bottom: 30px;
  .carousel-control {
    margin-top:0;
    border:0px;
    background:transparent;
    text-shadow:0px -1px 0px rgba(0,0,0,0.5);
  }
  .carousel-inner {
    img {
      max-height: 423px;
    }
  }
}

#connect {
  background:#2098f5;;
  padding:$baseLineHeight * 2 0;
  color:lighten($blue,40%);
  text-align:center;
  position:relative;
  font-style: italic;
  .sectionheading {
    color:$white;
  }
  .socialicons {
    border-top:1px lighten($blue,10%) solid;
    border-bottom:1px lighten($blue,10%) solid;
  }
  a {
    color:lighten($blue,40%);
    text-decoration:none;
    @include transition(color 500ms ease);
    &:hover,
    &:focus {
      color:$white;
    }
    h4 {
      span {
        margin-left: -3px;
      }
    }
  }
}
.btn-primary {
  background-color: #2098F5;
}
