.navbar {
  img {
    width: 70px;
    height:50px;
  }
}

.copyright {
  text-align: center;
}

footer {
  background-color: #e7e7e7;
  padding: 40px;
}

.navbar-default {
  .navbar-nav {
    li {
      a {
          text-align: center;
      }
      a:hover {
        background-color: #FFFFFF;
      }
    }
  }
}

.article {
  margin-bottom: 15px;
}
