@import "../common/lib/bootstrap/variables";
.dashboard {
  .nav-tabs {
    margin-bottom: $marginDefault;
    li {
      a {
        color: $gray;
        text-align: center;
        font {
          weight: 500;
        }
      }
      &.active {
        a {
          background-color: $gray;
          color: $orange;
        }
      }
    }
  }
}

.btn-primary {
  background-color: $blueLight;
  border-color: $btnBorder;
  &:hover {
    background-color: $blueLight;
  }
}

#search-form {
  margin-bottom: $marginDefault * 2;
}

#items-list {
  margin-bottom: $marginDefault * 2;
  .list-group-item {
    vertical-align: middle;
    .badge {
      background-color: $blueLight;
    }
  }
  .resource-info {
    width: 90%;
  }
  .description {
    margin-left: $marginDefault / 2;
    font-size: 12px;
  }
  .odd-item {
    background-color: rgb(242, 251, 252);
  }
}

.button-link {
  padding: 5px 5px 5px 25px;
  border: 1px solid $btnBorder;
  color: $blueLight;
  text-decoration:none;
  border-radius: 3px;
  background: $blueLight no-repeat scroll 5px center;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.add-button-link {
  @extend .button-link;
  width: auto;
  margin-bottom: $marginDefault;
  padding: 10px;
  &:before {
    color: white;
    margin-right: 5px;
  }
}

.badge {
  border-radius: 3px;
  font-weight: normal;
}

.form-default {
  margin: 15px 0px;
}
