@import "../common/lib/bootstrap/variables";

.btn-primary {
  background-color: $blueLight;
  border-color: $btnBorder;
  &:hover {
    background-color: $blueLight;
  }
}

.alert {
  text-align: center;
}

#user-search-form {
  margin-bottom: $marginDefault * 2;
}

#items-list {
  margin-bottom: $marginDefault * 2;
  .list-group-item {
    vertical-align: middle;
    .badge {
      background-color: $blueLight;
    }
  }

  .description {
    margin-left: $marginDefault / 2;
    font-size: 12px;
  }
}

.button-link {
  padding: 5px 5px 5px 25px;
  border: 1px solid $btnBorder;
  color: $blueLight;
  text-decoration:none;
  border-radius: 3px;
  background: $blueLight no-repeat scroll 5px center;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.add-button-link {
  @extend .button-link;
  width: 155px;
  margin-bottom: $marginDefault;
}

.badge {
  font-weight: normal;
}
