@import "../common/lib/bootstrap/variables";

.btn-primary {
  background-color: $blueLight;
}

.alert {
  text-align: center;
}

#user-search-form {
  margin-bottom: $marginDefault * 2;
}

#items-list {
  margin-bottom: $marginDefault * 2;
  .badge {
    background-color: $blueLight;
  }
}
