%article#connect
  .container
    %section
      .span6.offset3.socialicons
        .row
          %h2.leading.sectionheading
            %strong Connect
            with us
          .span2
            %a{:href=>"https://twitter.com/strongtie", :target => "_blank"}
              %i.fa.fa-twitter.icon-large.fa-5x
              %h4
                %span Twitter
          .span2
            %a{:href=>"https://www.facebook.com/strongtie", :target => "_blank"}
              %i.fa.fa-facebook.icon-large.fa-5x
              %h4
                %span Facebook
          .span2
            %a{:href=>"https://www.youtube.com/user/strongtie", :target => "_blank"}
              %i.fa.fa-youtube.icon-large.fa-5x
              %h4
                %span Youtube
