%article#connect
  .container
    %section
      .span6.offset3.socialicons
        .row
          %h2.leading.sectionheading
            %strong Connect
            with us:
          .span2
            %a{:href=>"", :target => "_blank"}
              %i.fa.fa-twitter.icon-large
              %h4
                %span Twitter
          .span2
            %a{:href=>"", :target => "_blank"}
              %i.fa.fa-facebook.icon-large
              %h4
                %span Facebook
          .span2
            %a{:href=>"", :target => "_blank"}
              %i.fa.fa-facetime-video.icon-large
              %h4
                %span Youtube
