%article#my-carousel
  .container
    %section
      .col-md-8
        #carousel-teams.carousel.slide{"data-ride" => "carousel"}
          .carousel-inner
            .item.active
              = image_tag("image1.jpg", alt: "...")
            .item
              = image_tag("image2.jpg", alt: "...")
            .item
              = image_tag("image3.jpg", alt: "...")
            .item
              = image_tag("image4.jpg", alt: "...")
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-teams", :role => "button"}
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-teams", :role => "button"}
      #actions.col-md-4.hidden-xs.hidden-sm
        %h2
          What's Happening
        .activity-stream
          
%article#connect
  .container
    %section
      .span6.offset3.socialicons
        .row
          %h2.leading.sectionheading
            %strong Connect
            with us
          .span2
            %a{:href=>"https://twitter.com/strongtie", :target => "_blank"}
              %i.fa.fa-twitter.fa-5x
              %h4
                %span Twitter
          .span2
            %a{:href=>"https://www.facebook.com/strongtie", :target => "_blank"}
              %i.fa.fa-facebook.fa-5x
              %h4
                %span Facebook
          .span2
            %a{:href=>"https://www.youtube.com/user/strongtie", :target => "_blank"}
              %i.fa.fa-youtube.fa-5x
              %h4
                %span Youtube
          .span2
            %a{:href=>"https://www.linkedin.com/company/simpson-strong-tie", :target => "_blank"}
              %i.fa.fa-linkedin.fa-5x
              %h4
                %span LinkedIn
