.admin-nav-bar {
  .nav-tabs {
    li {
      a {
        color: #555;
        text-align: center;
        font-weight: 500;
      }
    }
    li.active {
        a {
          background-color: #F8F8F8;
          color: #FF500C;
        }
      }
  }
}
