@import "../common/lib/bootstrap/variables";

.dashboard {
  .nav-tabs {
    margin-bottom: 20px;
    li {
      a {
        color: $gray;
        text-align: center;
        font {
          weight: 500;
        }
      }
      &.active {
        a {
          background-color: $gray;
          color: $orange;
        }
      }
    }
  }
}
.inline-flex {
  display: inline-flex;
  .form-control {
    margin-right: 3px;
    &:nth-child(2) {
      margin-right: 0px;
    }
  }
}
