@import "../common/lib/bootstrap/variables";

.dashboard {
  .nav-tabs {
    margin-bottom: $marginDefault;
    li {
      a {
        color: $gray;
        text-align: center;
        font {
          weight: 500;
        }
      }
      &.active {
        a {
          background-color: $gray;
          color: $orange;
        }
      }
    }
  }
}
