= form_for([:admin, @team], html: {class: "form-default"}) do |f|
  = show_error_messages_if_any @team.errors.full_messages
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: "form-control"
  .actions
    %button.btn.btn-primary{:type => "submit"}
      %i.fa.fa-send
        SAVE
