%footer
  .container
    %section
      .copyright
        &copy;
        = Date.today.year
        All rights reserved. Authorised by Bang Nguyen
        %br
        %br Phone: +61 422 375 093
        %br Email: thebangnguyen@gmail.com
