<!DOCTYPE html>
%head
  %meta{:charset => "utf-8"}
  - if Rails.env == "production"
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %title
    = "Simpson Strong-Tie® Vietnam"
  = favicon_link_tag "strongtie_logo.jpeg"
  
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
