%header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navigator", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => "http://www.strongtie.com"}
          = image_tag("strongtie_logo.jpeg", :alt => "strongtie-logo")
      #navigator.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/"} HOME
          %li
            %a{:href => "#"} SIGN UP
          %li
            %a{:href => "#"} SIGN IN
          %li
            %a{:href => "http://www.strongtie.com/about/index.html?source=topnav"} ABOUT US
