<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if (gte IE 9)]><html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if !(IE)]><!--><html  class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta{:charset => "utf-8"}
  %title
    = "Simpson StrongTie Vietnam"
