<!DOCTYPE html>
%head
  %meta{:charset => "utf-8"}
  %title
    = "Simpson Strong-Tie® Vietnam"
  = favicon_link_tag "strongtie_logo.jpeg"
  
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
