%header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navigator", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => "http://www.strongtie.com"}
          = image_tag("strongtie_logo.jpeg", :alt => "strongtie-logo")
      #navigator.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/"} HOME
          - if user_signed_in?
            %li
              %a{:href => "#"} DASHBOARD
            - if current_user.admin?
              %li
                %a{:href => "#"} ADMIN
            %li
              = link_to "SIGN OUT", destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method => :delete
          - else
            %li
              %a{:href => new_user_registration_path} SIGN UP
            %li
              %a{:href => new_user_session_path} SIGN IN
          %li
            %a{:href => "http://www.strongtie.com/about/index.html?source=topnav"} ABOUT US
